.box{
    width:700px;
    height:430px;
    margin:0 auto;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    background-color:#ffffff ;
    box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc ;
   -webkit-box-shadow: 0 0 5px 4px #ccc ;
    padding:10px;
}